<% layout('layout') %>

<% appendStyles([
    'highlight/github-gist.css'
]) %>

<% appendScripts([
    ['lib/markdown-it/dist/markdown-it.min.js', 'markdown-it'],
    ['lib/highlight/highlight.pack.js', 'highlight'],
    'lib/markdown/markdown.js',
    'student/public/homework/**/*.js'
]) %>

<%- renderTranslationsFor('student/public/homework') %>

<div id="homework" class="p-lg">
    <div data-title class="text-center m-b"></div>
    <div data-description></div>
</div>