<div class="header">
    <%- partial('components/roleSwitcher', {title: 'main.student'}) %>
    <a href="/student/courses"><%= __('student.courses') %></a>
    <div class="expand"></div>
    <a href="/logout"><%= __('main.logout') %></a>
</div>