<div class="header">
    <%- partial('components/roleSwitcher', {title: 'main.teacher'}) %>
    <a href="/teacher/courses"><%= __('teacher.courses') %></a>
    <div class="expand"></div>
    <a href="/logout"><%= __('main.logout') %></a>
</div>