<button data-submit type="submit" class="btn btn-primary">
    <span class="submit-default"><%= __(typeof btn !== 'undefined' ? btn : 'main.save') %></span>
    <span class="submit-error"><%= __('main.error') %></span>
    <i class="submit-loading fa fa-circle-o-notch fa-spin"></i>
</button>