<div class="header">
    <%- partial('components/roleSwitcher', {title: 'main.admin'}) %>
    <a href="/admin/users"><%= __('admin.users') %></a>
    <a href="/admin/teams"><%= __('admin.teams') %></a>
    <div class="expand"></div>
    <a href="/logout"><%= __('main.logout') %></a>
</div>