@import "../lib/utils/utils";

html, body {
    height: 100%;
}

.chat-wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;

    .chat-page {
        flex-grow: 1;
    }
}

.chat-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 8px;
    background-color: #f7f7f7;
    border-bottom: 4px solid #e7e7e7;

    .chat-title {
        flex-grow: 1;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
    }

    > div {
        margin: 0 10px;

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    .chat-view-switcher {
        display: flex;
        flex-direction: row;
        margin-right: 20px;

        > div {
            border-radius: 0;
            padding: 5px 10px;
            background-color: #ececec;
            color: #555;
            cursor: pointer;

            &:first-child {
                border-radius: 3px 0 0 3px;
            }

            &:last-child {
                border-radius: 0 3px 3px 0;
            }

            &.active {
                background-color: #ddd;
                color: #555;
            }
        }
    }

    @media (max-width: 600px) {
        [data-start-camera], [data-start-screen] {
            display: none;
        }
    }
}

.chat-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > .videos {
        min-width: 300px;

        &.full-width {
            flex-grow: 1;
        }
    }

    > .divider {
        width: 10px;
        display: flex;
        justify-content: center;

        &.handle {
            cursor: move;
            user-select: none;
        }

        div {
            width: 1px;
            background-color: #ccc;
        }
    }

    > .chat {
        flex-grow: 1;
    }

    > .users {
        width: 300px;
    }

    &.resizing {
        cursor: move;
    }
}

.videos {
    position: relative;

    > div {
        .full-fill();

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        overflow: auto;
    }

    .video {
        position: relative;
        overflow: hidden;

        video {
            width: 100%;
            min-width: 300px;
        }

        .video-toolbar {
            position: absolute;
            left: 0;
            right: 0;
            z-index: 2;
            text-align: right;

            &.top {
                transition: top 200ms;
                top: -30px;
            }

            &.bottom {
                transition: bottom 200ms;
                bottom: -30px;
            }
        }

        &:hover .video-toolbar {
            &.top {
                top: 0;
            }
            &.bottom {
                bottom: 0;
            }
        }
    }
}

.chat {
    display: flex;
    flex-direction: column;

    .chat-messages-wrapper {
        flex-grow: 1;
        position: relative;

        > div {
            .full-fill();

            display: flex;
            flex-direction: column;
            overflow-y: auto;

            .chat-expander {
                flex-grow: 1;
            }
        }
    }

    .chat-messages {
        > div {
            padding: 5px 10px;
        }

        .message-user {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            > div:first-child {
                font-size: 16px;
                font-weight: 600;
            }

            > div:last-child {
                color: #ccc;
            }
        }
    }

    .chat-textarea {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 5px 5px 0;

        > div {
            flex-grow: 1;
            height: auto;
            min-height: 38px;
            max-height: 200px;
            overflow: auto;
            margin-right: 5px;
        }
    }
}

.users {
    border-left: 1px solid #ccc;

    > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 6px;
        margin: 6px 0;

        img {
            width: 40px;
            height: 40px;
            margin-right: 6px;
        }
    }
}

pre {
    padding: 0;
    border-color: #e7e7e7;

    > code {
        display: block;
        padding: 0.5em;
        overflow-x: auto;
    }
}